{% extends 'places/base.html' %}

{% block title %}
About | Hiroshima Through Film
{% endblock %}

{% block content %}

<div class="container">

    <h1 class="mb-4">
        About
    </h1>

    <p>
        Hiroshima Through Film is a personal project
        documenting Hiroshima through photography and video.
    </p>

    <h3 class="mt-4">
        Equipment
    </h3>

    <ul>
        <li>SIGMA fp</li>
        <li>LUMIX S5IIX</li>
        <li>Canon A-1</li>
        <li>SIGMA SD1 Merrill</li>
    </ul>

    <h3 class="mt-4">
        Creator
    </h3>

    <p>
        Sho Tomosue
    </p>

</div>

{% endblock %}